/*
  black: rgb(0, 23, 50); #001732;
  orange: rgb(241, 117, 78); #f1754e;
  bg-color: rgb(216, 238, 232);  #d8eee8;
  bg-dark-color: rgb(203, 224, 221); #cbe0dd;
  clicked-cell: rgb(157, 197, 199); #9dc5c7;
  transparent red: rgba(241, 117, 78, 0.7);

  font-family: 'Darker Grotesque', sans-serif;
  font-family: 'Press Start 2P', cursive;
*/

/* # Generic */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    padding: 16px;
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 1;
    color: rgb(22, 1, 4);
    background-color: rgb(233, 238, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .btn {
    font-size: 24px;
    font-family: 'Darker Grotesque', sans-serif;
    padding: 4px 20px 8px 20px;
    /* width: 50%; */
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid rgb(0, 23, 50);
  }
  
  .btn:hover {
    background-color: rgb(218, 203, 224);
  }
  
  .btn-full {
    width: 100%;
  }
  
  .score {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    /* font-weight: 700; */
  }
  
  /* # Game grid */
  
  .game-board {
    position: relative;
    margin-bottom: 8px;
    border: 2px solid rgb(0, 23, 50);
  }
  
  .game-container {
    width: calc((48px * 6) + 4px);
  }
  
  .grid {
    width: calc((48px * 6) + 4px);
    display: flex;
    flex-wrap: wrap;
  }
  
  .cell {
    width: 48px;
    height: 48px;
    outline: 1px dashed rgb(22, 1, 4);
  }
  
  .bar {
    background-color: #145d66;
    border-radius: 8px;
    border: 2px solid #000000 ;
  }
  
  /* # Game over */
  .end-game-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(241, 117, 78, 0.7);
  
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
  }
  
  .win {
    background-color: rgba(78, 241, 187, 0.7);
  }
  
  .end-game-text {
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
  }
  
  /* # Utilities */
  
  .hidden {
    display: none;
  }
  